@import "../../app/styles/config";

.sign-wrapper {
  width: 100%;
  padding: 4rem 0;
  .signup-content {
    width: 100%;
    margin: 0 auto;
    @include Responsive(SM) {
      width: 65%;
    }
    @include Responsive(MD) {
      width: 45%;
    }
  }
  .signin-content {
    width: 90%;
    margin: 0 auto;
    @include Responsive(SM) {
      width: 40%;
    }
    @include Responsive(MD) {
      width: 30%;
    }
  }
  .signup-inform {
    text-align: center;
    p {
      color: var(--primary-color);
      font-size: 1.3rem;
    }
    img {
      width: 50%;
    }
  }
}

.signup-form {
  width: 100%;
  box-shadow: 0 0 11px -5px rgba(0, 0, 0, 0.7);
  background: rgba(255, 255, 255, 0.7);
  padding: 1.5rem;
  border-radius: 0.5rem;
  #{&}__description {
    color: var(--primary-color);
    margin-bottom: 1.2rem;
    h3 {
      font-size: 1.6rem;
      font-weight: 400;
      margin-bottom: 0.3rem;
    }
  }
  #{&}__confirm {
    border-bottom: 1px solid #ced4da;
    margin-bottom: 10px;
  }
  #{&}__btn-confirm {
      width: 100%;
      text-align: center;
      margin-top: 1.5rem;
  }
  #{&}__row {
    display: flex;
    flex-wrap: wrap;
    .col-4 {
      -webkit-box-flex: 0;
      flex: 0 0 40%;
      max-width: 40%;
    }
    .col-6 {
      -webkit-box-flex: 0;
      flex: 0 0 60%;
      max-width: 60%;
    }
    .bold {
        font-weight: bold;
    }
    p {
      color: var(--primary-color);
      margin-bottom: 0.875rem;
      font-size: 1rem;
      span {
        width: 25px;
        height: 25px;
        border-radius: 100%;
        border: 1px solid var(--primary-color);
        text-align: center;
        margin-right: 10px;
        padding: 2px;
        font-weight: 700;
        display: inline-block;
      }
      i {
          font-size: 1.6rem;
      }
    }
  }
  .btn-confirm {
    margin-top: 1rem;
    text-align: right;
    button {
      margin: 0 0 0 0.6rem;
    }
  }

  .react-datepicker__triangle {
    left: 140px !important;
  }
  .react-datepicker-popper {
    z-index: 8 !important;
  }
}
